@import 'tailwindcss';

@theme {
  --color-bg-primary: #fff8f2;
  --color-text-primary: #343f70;
  --color-decor-yellow: #ffde59;
  --color-decor-orange: #fd967e;
  --color-decor-purple: #ced7fe;
  --color-decor-blue: #c9edf7;
}

body {
  @apply bg-[url('@/assets/background.png')] bg-no-repeat bg-cover bg-bg-primary;
  @apply text-text-primary;
}

#app {
  @apply relative;
  @apply h-screen w-screen;
}
